.App {
  text-align: center;
  padding: 30px 40px;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

.Title{
  height: 10vh;
  color: cyan;
  text-shadow: tomato 4px -5px 5px ;
  font-weight: 800;
  font-size: 2.5rem;
  
}

.inputBuscar{
  min-width: 100% ;
}

table{
  min-width: 100%;
  justify-content: center;
}
table th{
  vertical-align:text-bottom;
  text-align:start;
}

.containerInput{
  align-items:center;
  right: 0;
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
  width: 40vw;
 
}

.btn{
  display: flex;
  justify-content: center;

}
.agregar{
  font-size: large;
  font-weight: 700;
  margin: 5%;
}

thead, tbody { display: block; }

tbody {
    height: 802px;
    width: 460px;
    overflow-y: auto;
    scroll-behavior: smooth;
    overflow-x: hidden; 
    
}

.card{
  width: 100%;
}

